/* @import url("https://fonts.google.com/specimen/Space+Grotesk"); */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/src/assets/fonts/SpaceGrotesk-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/src/assets/fonts/SpaceGrotesk-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/src/assets/fonts/SpaceGrotesk-Regular.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/src/assets/fonts/SpaceGrotesk-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}
